<div class="container" id="plans">
  <div class="row text-center">
    <div class="col-md-8 mx-auto">
      <p class="display-6 my-3">Planes de Suscripción</p>
    </div>
    <div class="col-md-6 mx-auto mb-3">
      <div class="card text-center shadow h-100 plan1">
        <div class="card-header fw-bold h3">PERSONALIDAD</div>
        <div class="card-body">
          <div class="text-center my-3">
            <img
              src="{{ url_for('static', filename='/images/woman-white-dress.avif')}}"
              alt=""
              width="300"
              height="300"
              class="img-fluid rounded-2"
            />
          </div>
          <ul class="list-unstyled text-start p-3">
            <li>👁 Precio Gratis</li>
            <li>👁 Puedes cancelar en cualquier momento</li>
            <li>👁 Renovación automática</li>
            <li>
              👁 Respuesta a tus Preguntas por escrito o audio sin incluir ningún
              dato personal
            </li>
            <li>
              👁 Acceso desde cualquier lugar, dispositivo y en todo momento
            </li>
          </ul>

          <form
            action="{{url_for('stripe.create_checkout_session')}}"
            method="POST"
          >
            <input
              type="hidden"
              name="price_id"
              value="price_1Ng3CfAEZk4zaxmwMXEF9bfR"
              class="form-control"
            />
            <button
              type="submit"
              id="plan1"
              class="btn btn-lg btn-outline-dark"
            >
              Comprar por £0
            </button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-6 mx-auto mb-3">
      <div class="card text-center plan2 shadow h-100">
        <div class="card-header fw-bold h3">ALMA</div>
        <div class="card-body">
          <div class="text-center my-3">
            <img
              src="{{ url_for('static', filename='images/fantasy-astral.avif')}}"
              alt=""
              width="300"
              height="300"
              class="img-fluid rounded-2"
            />
          </div>
          <ul class="list-unstyled text-start p-3">
            <li>👁 Precio £9.95</li>
            <li>👁 Puedes cancelar en cualquier momento</li>
            <li>👁 Renovación automática</li>
            <li>
              👁 Respuesta a tus Preguntas por audio o video sin incluir ningún
              dato personal
            </li>
            <li>👁 Contenido sorpresa</li>
            <li>👁 Una pregunta al mes de tarot</li>

            <li>
              👁 Acceso a contenido especial por escrito, en audio o video desde
              cualquier lugar, dispositivo y en cualquier momento
            </li>
          </ul>

          <form
            action="{{url_for('stripe.create_checkout_session')}}"
            method="POST"
          >
            <input
              type="hidden"
              name="price_id"
              value="price_1Ng3GzAEZk4zaxmwyZRkXBiW"
              class="form-control"
            />
            <button
              type="submit"
              id="plan2"
              class="btn btn-lg btn-outline-dark"
            >
              Comprar por £9,95/mes
            </button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-6 mx-auto mb-3 h-100">
      <div class="card text-center plan3 shadow h-100">
        <div class="card-header fw-bold h3">ESPÍRITU</div>
        <div class="card-body">
          <div class="text-center my-3">
            <img
              src="{{ url_for('static', filename='images/brain-tree.avif')}}"
              alt=""
              width="300"
              height="300"
              class="img-fluid rounded-2"
            />
          </div>
          <ul class="list-unstyled text-start p-3">
            <li>👁 Precio £14.95</li>
            <li>👁 Puedes cancelar en cualquier momento</li>
            <li>👁 Renovación automática</li>
            <li>
              👁 Respuesta a tus Preguntas por audio, video o en directo sin
              incluir ningún dato personal
            </li>

            <li>👁 Contenido sorpresa</li>
            <li>👁 Sesiones en directo</li>
            <li>
              👁 Acceso a contenido especial por escrito, en audio, video o en
              directo desde cualquier lugar, dispositivo y en cualquier momento
            </li>
          </ul>

          <form
            action="{{url_for('stripe.create_checkout_session')}}"
            method="POST"
          >
            <input
              type="hidden"
              name="price_id"
              value="price_1Ng3KKAEZk4zaxmwLuapT9kg"
              class="form-control"
            />
            <button
              type="submit"
              id="plan3"
              class="btn btn-lg btn-outline-dark"
            >
              Comprar por £14,95/mes
            </button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-6 mx-auto mb-3">
      <div class="card text-center shadow h-100 plan1">
        <div class="card-header fw-bold h3">ADMINISTRA TU SUSCRIPCIÓN</div>
        <div class="card-body">
          <div class="text-center my-3">
            <img
              src="{{ url_for('static', filename='images/logoFb.jpeg')}}"
              alt="logo"
              class="rounded-2 shadow"
              width="200px"
              height="200px"
            />
          </div>
          <p class="h5 py-3">
            Accede al
            <span class="text-warning fw-medium">Portal del Cliente</span> para
            realizar cualquiera de las siguientes operaciones:
          </p>
          <ul class="list-unstyled text-start p-3">
            <li>Cancela tu suscripción</li>
            <li>Cambia tu plan de suscripción</li>
            <li>Modifica o actualiza el método de pago</li>
            <li>Modifica o actualiza tu dirección de correo</li>
            <li>Ver historial de facturas</li>
          </ul>
          <form action="{{ url_for('stripe.customer_portal') }}" method="post">
            <input type="hidden" name="email" value="{{ email }}" />
            <button
              type="submit"
              class="btn btn-lg btn-outline-dark mx-1 rounded-2"
            >
              Portal del Cliente
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
