{% extends 'base.html' %} {% block content %}

<div class="row align-items-center my-auto">
  <div class="col-md-6 text-center mx-auto mb-3 p-3">
    {% include ('logo.html') %}
  </div>
  <div class="col-md-6 text-center mx-auto p-5">
    <p>
      <span class="fw-bold"> Gracias por tu compra.</span>
      Tu apoyo y confianza significan mucho para nosotros.
    </p>
    <p>Para cualquier operación o problema ve al portal del cliente</p>
    <form action="{{ url_for('stripe.customer_portal') }}" method="post">
      <input type="hidden" name="email" value="{{ email }}" />
      <button type="submit" class="btn btn-lg btn-outline-dark mx-1 rounded-2">
        Portal del Cliente
      </button>
    </form>
  </div>
</div>

{% endblock %}
