{% extends 'base.html' %} {% block content %}

<div class="container p-5">
  <div class="row">
    <div class="col-md-6 text-center mx-auto mb-3">
      {% include ('logo.html') %}
    </div>
    <div class="col-md-6 text-center mx-auto">
      <h1>Exito!</h1>
      <p>
        <span class="fw-bold"> Gracias por tu compra.</span>
        Tu apoyo y confianza significan mucho para nosotros.
      </p>
      <p>Para cualquier operación o problema ve al portal del cliente</p>
    </div>
  </div>
</div>

{% endblock %}
