{% extends 'layout.html' %} {% block header %}
<h1 class="pt-3">Esperamos verte pronto</h1>
{% endblock %} {% block content %}

<div class="row text-center align-items-center justify-content-evenly my-auto">
  <div class="col-md-6 mb-3 pb-3 pb-md-0">
    <p class="h5 mb-3">Gracias {{username}}</p>
    {% include ('logo.html') %}
  </div>
  <hr class="d-inline-block d-md-none w-75 mt-3">
  <div class="col-md-6 p-4 pt-md-0">
    <p>
      <span class="fw-bold"> Gracias por tu compra.</span>
      Tu apoyo y confianza significan mucho para nosotros.
    </p>
    <p>Para cualquier operación o problema ve al portal del cliente</p>
    <form action="{{ url_for('stripe.customer_portal') }}" method="post">
      <input type="hidden" name="email" value="{{ email }}" />
      <button type="submit" class="btn btn-lg btn-outline-dark mx-1 rounded-2">
        Portal del Cliente
      </button>
    </form>
  </div>
</div>

{% endblock %}