blinker==1.6.2
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.6
distlib==0.3.7
filelock==3.12.2
Flask==2.3.2
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
pipenv==2023.7.23
platformdirs==3.10.0
python-dotenv==0.21.0
requests==2.31.0
stripe==5.5.0
urllib3==2.0.4
virtualenv==20.24.2
virtualenv-clone==0.5.7
Werkzeug==2.3.6
