{% extends 'layout.html' %} {% block header %}
<h1 class="pt-3">Ya eres un miembro más</h1>
{% endblock %} {% block content %}

<div class="container p-5 m-auto">
  <div class="row text-center align-items-center justify-content-evenly">
    <div class="col-md-6 mb-3 pb-3 pb-md-0">
      <p class="h5 mb-3">Gracias {{username}}</p>
      {% include ('logo.html') %}
    </div>
    <hr class="d-inline-block d-md-none w-75 mt-3">
    <div class="col-md-6 pt-3 pt-md-0">
      <h1>Exito!</h1>
      <p>
        Gracias por tu apoyo y suscribirte a
        <span class="fw-bold">La Flor Blanca</span>. Agradecemos que seas un
        miembro más trabajando por tu ascensión y contribuyendo a la ascensión
        colectiva de
        <span class="fw-bold">Madre Tierra.</span>
      </p>
      <p>
        Para cualquier operación referente a tu suscripción ve al portal del
        cliente.
      </p>
    </div>
  </div>
</div>

{% endblock %}