{% extends 'base.html' %} {% block header %}
<h1>Ya eres un miembro más</h1>
{% endblock %} {% block content %}

<div class="container p-5">
  <div class="row">
    <div class="col-md-6 text-center mx-auto mb-3">
      <div class="col-md-6 text-center mx-auto mb-3">
        <p class="h5 mb-3">Gracias {{username}}</p>
        {% include ('logo.html') %}
      </div>
    </div>
    <div class="col-md-6 text-center mx-auto">
      <h1>Exito!</h1>
      <p>
        Gracias por tu apoyo y suscribirte a
        <span class="fw-bold">La Flor Blanca</span>. Agradecemos que seas un
        miembro más trabajando por tu ascensión y contribuyendo a la ascensión
        colectiva de
        <span class="fw-bold">Madre Tierra.</span>
      </p>
      <p>
        Para cualquier operación referente a tu suscripción ve al portal del
        cliente.
      </p>
    </div>
  </div>
</div>

{% endblock %}
