{% extends 'base.html' %} {% block content %}

<div class="container p-5">
  <div class="row">
    <div class="col-md-6 text-center mx-auto mb-3">
      {% include ('logo.html') %}
    </div>
    <div class="col-md-6 text-center mx-auto">
      <h1>Exito!</h1>
      <p>
        Gracias por suscribirte a <span class="fw-bold">La Flor Blanca</span>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quos
        magni eveniet repellendus dignissimos animi quisquam assumenda,
        repudiandae maxime placeat? Temporibus praesentium voluptates soluta
        ipsam reiciendis ab accusantium inventore quia!
      </p>
      <p>
        Para cualquier operacion referente a tu suscripción ve al customer
        portal.
      </p>
    </div>
  </div>
</div>

{% endblock %}
