<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% endblock %}- La Flor Blanca</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/logoFb.jpeg') }}"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='main.css') }}"
    />
  </head>

  <body>
    <nav class="navbar navbar-expand-xxl sticky-top">
      <div class="container-fluid z-3">
        <a class="navbar-brand" href="{{url_for('index')}}"
          ><img
            src="{{ url_for('static', filename='images/logoFb.jpeg')}}"
            alt="Logo"
            width="30"
            height="24"
            class="d-inline-block align-text-top"
        /></a>
        <button
          class="navbar-toggler shadow-none"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-around"
          id="navbarNav"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="{{url_for('index')}}"
                >Inicio</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('index', _anchor='plans')}}"
                >Planes de suscripción</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('stripe.products')}}"
                >Tienda</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('questions.index')}}"
                >Preguntas</a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{{url_for('answers.basic')}}"
                >Personalidad</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('answers.soul_view')}}"
                >Alma</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('answers.index')}}">Tarot</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('answers.spirit_view')}}"
                >Espíritu</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('questions.live_query')}}"
                >Sesión en Directo</a
              >
            </li>

            {% if g.user %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('dashboard') }}"
                >Dashboard</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.logout') }}"
                >Cerrar Sesión</a
              >
            </li>
            {% if session['role'] == 'admin' %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admin.index') }}">Admin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('answers.create') }}"
                >Blog</a
              >
            </li>
            {% endif %}
            <li class="nav-item">
              <p class="nav-link">{{ username }}</p>
            </li>

            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.register') }}"
                >Registrate</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('auth.login')}}"
                >Iniciar Sesión</a
              >
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <section>
      <div class="header container-fluid py-3 bg-body">
        <header class="text-center display-6 title fw-medium">
          {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
        <div class="flash text-center text-danger h4">{{ message }}</div>
        {% endfor %}
      </div>
    </section>
    <div class="min-vh-100">{% block content %}{% endblock %}</div>

    <footer>
      <div
        class="footer container-fluid position bottom-0 bg-body-secondary w-100 py-2 overflow-x-hidden"
      >
        <div class="row my-3">
          <div class="col d-flex justify-content-evenly align-items-center">
            <a href="https://www.instagram.com/the_chic_noir">
              <i class="bi bi-instagram"></i
            ></a>
            <a href="https://t.me/VisioneslaFlorBlanca">
              <i class="bi bi-telegram"></i
            ></a>
            <a href="https://www.youtube.com/@LaFlorBlanca">
              <i class="bi bi-youtube"></i
            ></a>
            <a href="https://www.facebook.com/TheChicNoir1">
              <i class="bi bi-facebook"></i
            ></a>
            <a href="https://thechicnoir.com/">
              <img
                src="{{url_for('static', filename='images/chic-noir.png')}}"
                alt="logo"
                width="30"
                height="24"
                class="img-thumbnail"
            /></a>
          </div>
        </div>
        <div class="row text-light">
          <div class="col text-center">
            <div>
              <a href="mailto:admin@thechicnoir.com" class="link link-light"
                >admin@thechicnoir.com</a
              >
              <i class="bi bi-envelope-at-fill mail"></i>
            </div>
          </div>
          <div class="col text-end align-self-end">
            <p>&copy; La Flor Blanca 2023.</p>
          </div>
        </div>
      </div>
    </footer>
    <script src="{{url_for('static',filename='scripts/main.js')}}"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
