{% extends 'auth/layout.html' %}
{% import "forms/auth_form.html" as forms %}
{% block title %}Resetea tu Contraseña{% endblock %}

{% block main_content %}
<div class="col-md-6 mx-auto mt-5">
  <form method="POST" class="bg-gradient p-3 my-3 rounded-3 shadow">
    <div class="mb-3">
      <label for="cookie" class="form-label">Código </label>
      <input name="cookie" type="password" class="form-control" id="cookie" />
    </div>
    <div class="mb-3 text-center">
      <button type="reset" class="btn btn-outline-info mx-1 rounded-1">
        Cancelar
      </button>
      <button type="submit" class="btn btn-outline-info mx-1 rounded-1">
        Aceptar
      </button>
    </div>
  </form>
</div>
{% endblock %}

{% block link %}
<p class="h4 text-center">
  ¿No estás registrado? <a href="{{url_for('auth.register')}}">Registro</a>
</p>
{% endblock %}