{% extends 'base.html' %}{% block header %}
<p class="fw-75 display-6 text-center title">
  {% block title %}Borrar Cuenta{% endblock %}{% endblock %}
</p>
{% block content %}

<div class="container-fluid">
  <div class="container text-center my-4">
    <img
      src="{{ url_for('static', filename='images/logoFb.jpeg')}}"
      alt="logo"
      class="rounded-2 shadow logo"
      width="200px"
      height="200px"
    />
  </div>
  <div class="col-md-6 mx-auto mt-5">
    <div class="mb-3">
      <p>
        Esta acción es irreversible, tu cuenta será eliminada solo si tu
        suscripción ha sido cancelada. (Para ver la fecha de cancelación ve al
        <a href="{{ url_for('stripe.customer_portal') }}">portal cliente</a> )
        ¿Deseas Continuar?
      </p>
    </div>
    <form
      method="POST"
      action="{{url_for('auth.delete_account') }}"
      class="bg-gradient p-3 my-3 rounded-3 shadow"
    >
      <div class="mb-3 text-center">
        <button type="reset" class="btn btn-outline-info mx-1 rounded-1">
          Cancelar
        </button>
        <button type="submit" class="btn btn-outline-info mx-1 rounded-1">
          Aceptar
        </button>
      </div>
    </form>
  </div>
</div>
<div class="my-5">
  <p class="h4 text-center">
    ¿No estás registrado? <a href="{{url_for('auth.register')}}">Registro</a>
  </p>
</div>

{% endblock %}
