{% extends 'base.html' %}
<p class="fw-75 display-6 text-center">
  {% block header %} {% block title %}Login{% endblock %}{% endblock %}
</p>

{% block content %}

<div class="container-fluid">
  <div class="col-md-8 mx-auto mt-5">
    <form method="POST" class="bg-gradient p-3 my-3 rounded-3 shadow">
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input
          name="email"
          type="email"
          class="form-control"
          id="email"
          placeholder="name@example.com"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          name="password"
          type="password"
          class="form-control"
          id="password"
        />
      </div>
      <div class="mb-3 text-center">
        <button type="reset" class="btn btn-outline-light rounded-pill">
          Cancelar
        </button>
        <button type="submit" class="btn btn-outline-light rounded-pill">
          Aceptar
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
