{% extends 'base.html' %}{% block header %}
<p class="fw-75 display-6 text-center title">
  {% block title %}Resetea tu Contraseña{% endblock %}{% endblock %}
</p>
{% block content %}

<div class="container-fluid">
  <div class="container text-center my-4">
    <img
      src="{{ url_for('static', filename='images/logoFb.jpeg')}}"
      alt="logo"
      class="rounded-2 shadow logo"
      width="200px"
      height="200px"
    />
  </div>

  <div class="text-center">
    <p>
      Danos el email que usaste para registrarte con nosotros y te enviaremos un
      código.
      <br />
      Mira tu email, en tu bandeja de entrada o en la carpeta de spam y
      encontrarás el código que debes copiar.
      <br />
      Regresa a la página redireccionada y pega el código.
      <br />
      Una vez que el código se valida podrás introducir tu nueva contraseña.
    </p>
  </div>

  <div class="col-md-6 mx-auto mt-5">
    <form method="POST" class="bg-gradient p-3 my-3 rounded-3 shadow">
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input
          name="email"
          type="email"
          class="form-control"
          id="email"
          placeholder="name@example.com"
        />
      </div>

      <div class="mb-3 text-center">
        <button type="reset" class="btn btn-outline-info mx-1 rounded-1">
          Cancelar
        </button>
        <button type="submit" class="btn btn-outline-info mx-1 rounded-1">
          Aceptar
        </button>
      </div>
    </form>
  </div>
</div>
<div class="my-5">
  <p class="h4 text-center">
    No estás registrado? <a href="{{url_for('auth.register')}}">Registro</a>
  </p>
</div>

{% endblock %}
