{% extends 'auth/layout.html' %}
{% import "forms/auth_form.html" as forms %}
{% block title %}Resetea tu Contraseña{% endblock %}
{% block main_content %}

<div class="text-center">
  <p>
    Danos el email que usaste para registrarte con nosotros y te enviaremos un
    código.
    <br />
    Mira tu email, en tu bandeja de entrada o en la carpeta de spam y
    encontrarás el código que debes copiar.
    <br />
    Regresa a la página redireccionada y pega el código.
    <br />
    Una vez que el código se valida podrás introducir tu nueva contraseña.
  </p>
</div>

<div class="col-md-6 mx-auto mt-5">
  {{forms.render_form(username=false, password=false)}}
</div>
{% endblock %}

{% block link %}
<p class="h4 text-center">
  No estás registrado? <a href="{{url_for('auth.register')}}">Registro</a>
</p>
{% endblock %}