{% extends 'base.html' %}{% block content %}

<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6 text-center mx-auto mb-3">
      <p class="h5 mb-3">Hola {{username}}</p>
      {% include ('logo.html') %}
    </div>
    <div class="col text-center mx-auto mb-3">
      <h1>Administra tu suscripción</h1>
      <p class="h5">
        Accede al
        <span class="text-info fw-medium">customer portal</span> para realizar
        cualquiera de las siguientes operaciones:
      </p>
      <ul class="list-unstyled">
        <li>Cancela tu suscripción</li>
        <li>Cambia tu plan de suscripción</li>
        <li>Modifica o actualiza el método de pago</li>
        <li>Ver historial de facturas</li>
      </ul>
      <div>
        <form action="{{ url_for('stripe.customer_portal') }}" method="post">
          <!-- Include other form fields if needed -->
          <input type="hidden" name="email" value="{{ email }}" />
          <button type="submit" class="btn btn-outline-info mx-1 rounded-1">
            Customer Portal
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
