{% extends 'base.html' %}{% block content %}

<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6 text-center mx-auto mb-3">
      <p class="h5 mb-3">Hola {{username}}</p>
      {% include ('logo.html') %}
    </div>
    <div class="col text-center mx-auto mb-3">
      <h1>Página de ayuda</h1>
      <p class="h5">
        Recuerda que para cualquier operación referente a tu suscripción debes
        acceder al portal del cliente. En el que podrás realizar las siguientes
        operaciones:
      </p>
      <ul class="list-unstyled">
        <li>Cancelar tu suscripción</li>
        <li>Cambiar tu plan de suscripción</li>
        <li>Modificar o actualizar el método de pago</li>
        <li>Ver historial de facturas</li>
        <li>Cambiar la dirección postal</li>
      </ul>
      <div class="mb-3">
        <form action="{{ url_for('stripe.customer_portal') }}" method="post">
          <input type="hidden" name="email" value="{{ email }}" />
          <button type="submit" class="btn btn-outline-info mx-1 rounded-1">
            Portal del cliente
          </button>
        </form>
      </div>
    </div>
    <p class="h5 mb-4 mx-auto text-center">
      A continuación están las preguntas y soluciones más frecuentes:
    </p>
    <form id="searchForm">
      <div class="input-group mb-3">
        <label for="search" hidden></label>

        <input
          id="search"
          type="text"
          class="form-control rounded-1"
          placeholder="Buscar"
        />
        <button class="btn btn-sm">
          <i class="bi bi-search" role="button"></i>
        </button>
      </div>
    </form>
    <div class="accordion mb-4" id="accordionHelp">
      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="false"
            aria-controls="collapseOne"
          >
            1. ¿Porqué no puedo acceder a la sección Preguntas?😔
          </button>
        </h2>
        <div
          id="collapseOne"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            No escogiste ninguno de los tres planes de suscripción aunque sea el
            gratuito que es el Plan Personalidad.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            2. ¿Porqué no consigo entrar en la tienda?😔
          </button>
        </h2>
        <div
          id="collapseTwo"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            Necesitas ser miembro: registrarte en la página y escoger uno de los
            tres Planes (Personalidad, Alma o Espíritu) o iniciar sesión si ya
            te registraste con uno de los tres Planes para poder disfrutar de
            los descuentos y/o ofertas.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseThree"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            3. ¿Porqué no consigo entrar en la sección Personalidad?😔
          </button>
        </h2>
        <div
          id="collapseThree"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            Necesitas suscribirte al plan Personalidad, que es gratuito, para
            tener acceso a formular tus preguntas y al contenido.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse4"
            aria-expanded="false"
            aria-controls="collapse4"
          >
            4. ¿Porqué no consigo entrar en la sección Tarot?😞
          </button>
        </h2>
        <div
          id="collapse4"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            La sección del Tarot está incluida sólo en los Planes de pago Alma y
            Espíritu. Si estás en el plan Personalidad o sólo eres miembro de la
            página no tendrás acceso a este servicio.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse5"
            aria-expanded="false"
            aria-controls="collapse5"
          >
            5. ¿Porqué no consigo entrar en la Sesión en Directo?😔
          </button>
        </h2>
        <div
          id="collapse5"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            Necesitas estar suscrito al Plan Espíritu. Este servicio es
            exclusivo de este plan.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse6"
            aria-expanded="false"
            aria-controls="collapse6"
          >
            6. ¿Porqué no consigo entrar en las secciones de Alma o Espíritu?😔
          </button>
        </h2>
        <div
          id="collapse6"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            Necesitas suscribirte a estos planes Alma o Espíritu, que son de
            pago, para acceder a los servicios y beneficios que te ofrecen.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse7"
            aria-expanded="false"
            aria-controls="collapse7"
          >
            7. ¿Cómo cambio mi dirección y datos personales?🤔
          </button>
        </h2>
        <div
          id="collapse7"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            Debes entrar en el Portal del Cliente en Inicio o en la sección
            Ayuda. Esto te redireccionará a Stripe, a nuestro sistema de pago y
            allí podrás modificar todos tus datos personales.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse8"
            aria-expanded="false"
            aria-controls="collapse8"
          >
            8. ¿Qué significa que mi plan se cancela?🤔
          </button>
        </h2>
        <div
          id="collapse8"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            Qué se paraliza la renovación automática de tu plan en la fecha
            indicada. Qué se suspenden los pagos o la suscripción gratuita
            definitivamente y necesitarás suscribirte de nuevo a alguno de los
            tres planes.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse9"
            aria-expanded="false"
            aria-controls="collapse9"
          >
            9. Qué significa cero preguntas disponibles?🤔
          </button>
        </h2>
        <div
          id="collapse9"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            Que utilizaste el máximo permitido de preguntas para ese mes. Esto
            se renovará automáticamente el primer día de cada mes y volverás a
            disfrutar de nuevo de más preguntas.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse10"
            aria-expanded="false"
            aria-controls="collapse10"
          >
            10. ¿Las preguntas no usadas durante un ciclo mensual se acumulan
            para el mes siguiente?🤔
          </button>
        </h2>
        <div
          id="collapse10"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            No. Si no usas las Preguntas disponibles en el mes en vigor se
            pierden. Pero se renuevan al mes siguiente, el primer día de cada
            mes.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse11"
            aria-expanded="false"
            aria-controls="collapse11"
          >
            11. ¿Cuánto tiempo se tarda en recibir las respuestas?😃
          </button>
        </h2>
        <div
          id="collapse11"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            Depende de por cual via se responda: por escrito entre 24 y 48
            horas. Por audio entre 48 y 72 horas, por video entre 3 a 5 días
            aproximadamente.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse12"
            aria-expanded="false"
            aria-controls="collapse12"
          >
            12. ¿Dónde voy a recibir mi respuesta?😃
          </button>
        </h2>
        <div
          id="collapse12"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            Las respuestas serán integradas en el plan de dónde fueron
            recibidas. Por ejemplo, si formas parte del plan Personalidad tu
            respuesta será integrada en el plan Personalidad, lo mismo sucederá
            si formas parte del plan Alma o Espíritu; recibirás tus respuestas
            dentro de estos planes respectivamente. Deberás iniciar sesión para
            acceder a la respuesta. Las respuestas de Tarot son las únicas que
            serán enviadas de manera privada al email que se usó durante la
            suscripción.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse13"
            aria-expanded="false"
            aria-controls="collapse13"
          >
            13. ¿Por qué no me llega mi pedido?😣
          </button>
        </h2>
        <div
          id="collapse13"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            Asegúrate que escogiste el método de envío adecuado. Puede que
            seleccionaste la opción gratuita mi producto no necesita ser
            entregado 'Free my product doesn't need a delivery'. En ese caso
            nada te será enviado. Revisa tu email donde habrás recibido un
            enlace de pago con la diferencia a abonar para tu entrega o ponte en
            contacto con nosotros por email: admin@thechicnoir.com. Hasta que no
            recibimos el pago completo correspondiente de tu compra, no
            recibirás tu pedido.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse14"
            aria-expanded="false"
            aria-controls="collapse14"
          >
            14. ¿Por qué los pagos de mi Plan de suscripción varían de precio
            entre un mes y otro?🤑
          </button>
        </h2>
        <div
          id="collapse14"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            Probablemente hayas cambiado o actualizado tu Plan en medio de tu
            facturación mensual y hayas transicionado de uno más caro a otro más
            económico. Ejemplo: pasar del Plan Espíritu a otro más económico
            Alma o pasar de Alma a Personalidad. Como el cambio de planes es
            efectivo inmediatamente, la diferencia de precio entre un Plan y
            otro se te queda en el balance de tu cuenta puesto que no hay
            devolución. Lo mismo que si accedes a un plan superior, de Alma a
            Espíritu, de un plan más económico a uno más caro se te cobraría
            sólo la diferencia de precio entre los días restantes de tu plan
            anterior más económico (Alma) y el precio del nuevo Plan (Espíritu)
            inmediatamente. Este exceso de balance o crédito de cambiar a un
            plan más económico se usa como descuento en tu siguiente facturación
            de tu Plan actual.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse15"
            aria-expanded="false"
            aria-controls="collapse15"
          >
            15. ¿Cómo funciona la facturación mensual?🙄
          </button>
        </h2>
        <div
          id="collapse15"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            Incluye desde el día que te registraste hasta el mismo día del mes
            siguiente. Si te registraste a un Plan el 3 de Enero, la facturación
            mensual sería del 3 de Enero al 3 de Febrero del mes siguiente. Si
            escogiste tu Plan el 28 de Febrero, la facturación mensual sería del
            28 de Febrero al 28 de Marzo del mes siguiente etc., etc.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse16"
            aria-expanded="false"
            aria-controls="collapse16"
          >
            16. ¿Qué pasa cuando cambio de Plan?🤔
          </button>
        </h2>
        <div
          id="collapse16"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            Cuando actualizas tu Plan de suscripción tu facturación mensual
            cambia y empieza el día en que escogiste tu Nuevo Plan de
            suscripción hasta el mismo día del mes siguiente. Ejemplo: si empece
            con un plan inicial Espíritu el 3 de Enero, mi facturación
            terminaría el 3 de Febrero del mes siguiente. Si el 15 de Enero
            decido cambiar del Plan Espíritu a Alma; mi nueva facturación ya no
            termina el 3 de Febrero sino el 15 de Febrero del mes siguiente con
            mi Nuevo Plan Alma. Te cambiaría el periodo de facturación. Y el
            plan anterior Espíritu sería cancelado y automáticamente el crédito
            restante de tu Plan Espíritu pasaría a ser usado como descuento para
            tu nueva facturación mensual en Alma.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse17"
            aria-expanded="false"
            aria-controls="collapse17"
          >
            17. Olvidé la contraseña de mi cuenta 😱
          </button>
        </h2>
        <div
          id="collapse17"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            Pincha el siguiente
            <a href="{{url_for('auth.reset_password')}}">enlace</a> para
            resetear tu contraseña. Una vez que insertes el email utilizado para
            el registro en nuestra página te enviaremos un código a dicho email.
            a continuación serás redireccionado/a a una página en la que debes
            de insertar el código. Recomendamos copiar y pegar para asegurarte
            de que el código coincida. una vez que el código introducido es
            comprobado tendrás la opción de elegir una contraseña nueva.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse18"
            aria-expanded="false"
            aria-controls="collapse18"
          >
            18. Quiero borrar mi cuenta 🤬
          </button>
        </h2>
        <div
          id="collapse18"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            Para eliminar tu cuenta asegúrate de que has cancelado tu
            suscripción. Una vez cancelada podrás ver la fecha de cancelación en
            el portal del cliente y proceder a la eliminación de tu cuenta
            después de dicha fecha.
            <br />
            Pincha en el enlace para borrar tu cuenta
            <br />
            <a href="{{url_for('auth.delete_account')}}">Borrar mi cuenta</a>
            <br />
            Recuerda que no puedes acceder a ningún contenido sin ser miembro
            <span class="fw-bold">una vez que borraste tu cuenta.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
