{% extends 'base.html' %}{% block content %}

<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6 text-center mx-auto mb-3">
      <p class="h5 mb-3">
        Hola {% if username != None %}{{username}}{%endif %}
      </p>
      {% include ('logo.html') %}
    </div>
    <div class="col text-center mx-auto mb-3">
      <h1>Página de ayuda</h1>
      <p class="h5">
        Recuerda que para cualquier operación referente a tu suscripción debes
        acceder al portal del cliente. En el que podrás realizar las siguientes
        operaciones:
      </p>
      <ul class="list-unstyled">
        <li>Cancelar tu suscripción</li>
        <li>Cambiar tu plan de suscripción</li>
        <li>Modificar o actualizar el método de pago</li>
        <li>Ver historial de facturas</li>
        <li>Cambiar la dirección postal</li>
      </ul>
      <div class="mb-3">
        <form action="{{ url_for('stripe.customer_portal') }}" method="post">
          <input type="hidden" name="email" value="{{ email }}" />
          <button type="submit" class="btn btn-outline-info mx-1 rounded-1">
            Portal del cliente
          </button>
        </form>
      </div>
    </div>
    <p class="h5 mb-4 mx-auto text-center">
      A continuación están las preguntas y soluciones más frecuentes:
    </p>
    <form id="searchForm">
      <div class="input-group mb-3">
        <label for="search" hidden></label>

        <input
          id="search"
          type="text"
          class="form-control rounded-1"
          placeholder="Buscar"
        />
        <button class="btn btn-sm">
          <i class="bi bi-search" role="button"></i>
        </button>
      </div>
    </form>
    <div class="accordion mb-4" id="accordionHelp">
      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="false"
            aria-controls="collapseOne"
          >
            1. ¿Porqué no puedo acceder a la sección Preguntas?😔
          </button>
        </h2>
        <div
          id="collapseOne"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            No escogiste ninguno de los tres planes de suscripción aunque sea el
            gratuito que es el Plan Personalidad.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            2. ¿Porqué no consigo entrar en la Tienda?😔
          </button>
        </h2>
        <div
          id="collapseTwo"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            Necesitas ser miembro: registrarte en la página y escoger uno de los
            tres Planes (Personalidad, Alma o Espíritu) o iniciar sesión si ya
            te registraste con uno de los tres Planes para poder disfrutar de
            los descuentos y/o ofertas.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseThree"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            3. ¿Porqué no consigo entrar en la sección Personalidad?😔
          </button>
        </h2>
        <div
          id="collapseThree"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            Necesitas suscribirte al plan Personalidad, que es gratuito, para
            tener acceso a formular tus preguntas y al contenido.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse4"
            aria-expanded="false"
            aria-controls="collapse4"
          >
            4. ¿Porqué no consigo entrar en la sección Tarot?😞
          </button>
        </h2>
        <div
          id="collapse4"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            La sección del Tarot está incluida sólo en los Planes de pago Alma y
            Espíritu. Si estás en el plan Personalidad o sólo eres miembro de la
            página no tendrás acceso a este servicio.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse5"
            aria-expanded="false"
            aria-controls="collapse5"
          >
            5. ¿Porqué no consigo entrar en la Sesión en Directo?😔
          </button>
        </h2>
        <div
          id="collapse5"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            Necesitas estar suscrito al Plan Espíritu. Este servicio es
            exclusivo de este plan.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse6"
            aria-expanded="false"
            aria-controls="collapse6"
          >
            6. ¿Porqué no consigo entrar en las secciones de Alma o Espíritu?😔
          </button>
        </h2>
        <div
          id="collapse6"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            Necesitas suscribirte a estos planes Alma o Espíritu, que son de
            pago, para acceder a los servicios y beneficios que te ofrecen.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse7"
            aria-expanded="false"
            aria-controls="collapse7"
          >
            7. ¿Cómo cambio mi dirección y datos personales?🤔
          </button>
        </h2>
        <div
          id="collapse7"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            Debes entrar en el Portal del Cliente en Inicio o en la sección
            Ayuda. Esto te redireccionará a Stripe, a nuestro sistema de pago y
            allí podrás modificar todos tus datos personales.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse8"
            aria-expanded="false"
            aria-controls="collapse8"
          >
            8. ¿Qué significa que mi plan se cancela?🤔
          </button>
        </h2>
        <div
          id="collapse8"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            Qué se paraliza la renovación automática de tu plan en la fecha
            indicada. Qué se suspenden los pagos o la suscripción gratuita
            definitivamente y necesitarás suscribirte de nuevo a alguno de los
            tres planes.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse9"
            aria-expanded="false"
            aria-controls="collapse9"
          >
            9. ¿Qué significa cero preguntas disponibles?🤔
          </button>
        </h2>
        <div
          id="collapse9"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            Que utilizaste el máximo permitido de preguntas para ese mes. Esto
            se renovará automáticamente el primer día de cada mes y volverás a
            disfrutar de nuevo de más preguntas.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse10"
            aria-expanded="false"
            aria-controls="collapse10"
          >
            10. ¿Las preguntas no usadas durante un ciclo mensual se acumulan
            para el mes siguiente?🤔
          </button>
        </h2>
        <div
          id="collapse10"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            No. Si no usas las Preguntas disponibles en el mes en vigor se
            pierden. Pero se renuevan al mes siguiente, el primer día de cada
            mes.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse11"
            aria-expanded="false"
            aria-controls="collapse11"
          >
            11. ¿Cuánto tiempo se tarda en recibir las respuestas?😃
          </button>
        </h2>
        <div
          id="collapse11"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            Depende de por cual via se responda: por escrito entre 24 y 48
            horas. Por audio entre 48 y 72 horas, por video entre 3 a 5 días
            aproximadamente.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse12"
            aria-expanded="false"
            aria-controls="collapse12"
          >
            12. ¿Dónde voy a recibir mi respuesta?😃
          </button>
        </h2>
        <div
          id="collapse12"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            Las respuestas serán integradas en el plan de dónde fueron
            recibidas. Por ejemplo, si formas parte del plan Personalidad tu
            respuesta será integrada en el plan Personalidad, lo mismo sucederá
            si formas parte del plan Alma o Espíritu; recibirás tus respuestas
            dentro de estos planes respectivamente. Deberás iniciar sesión para
            acceder a la respuesta. Las respuestas de Tarot son las únicas que
            serán enviadas de manera privada al email que se usó durante la
            suscripción.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse13"
            aria-expanded="false"
            aria-controls="collapse13"
          >
            13. ¿Por qué no me llega mi pedido?😣
          </button>
        </h2>
        <div
          id="collapse13"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            Asegúrate que escogiste el método de envío adecuado. Puede que
            seleccionaste la opción gratuita mi producto no necesita ser
            entregado 'Free my product doesn't need a delivery'. En ese caso
            nada te será enviado. Revisa tu email donde habrás recibido un
            enlace de pago con la diferencia a abonar para tu entrega o ponte en
            contacto con nosotros por email: admin@thechicnoir.com. Hasta que no
            recibimos el pago completo correspondiente de tu compra, no
            recibirás tu pedido.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse14"
            aria-expanded="false"
            aria-controls="collapse14"
          >
            14. ¿Por qué los pagos de mi Plan de suscripción varían de precio
            entre un mes y otro?🤑
          </button>
        </h2>
        <div
          id="collapse14"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            Probablemente hayas cambiado o actualizado tu Plan en medio de tu
            facturación mensual y hayas transicionado de uno más caro a otro más
            económico. Ejemplo: pasar del Plan Espíritu a otro más económico
            Alma o pasar de Alma a Personalidad. Como el cambio de planes es
            efectivo inmediatamente, la diferencia de precio entre un Plan y
            otro se te queda en el balance de tu cuenta puesto que no hay
            devolución. Lo mismo que si accedes a un plan superior, de Alma a
            Espíritu, de un plan más económico a uno más caro se te cobraría
            sólo la diferencia de precio entre los días restantes de tu plan
            anterior más económico (Alma) y el precio del nuevo Plan (Espíritu)
            inmediatamente. Este exceso de balance o crédito de cambiar a un
            plan más económico se usa como descuento en tu siguiente facturación
            de tu Plan actual.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse15"
            aria-expanded="false"
            aria-controls="collapse15"
          >
            15. ¿Cómo funciona la facturación mensual?🙄
          </button>
        </h2>
        <div
          id="collapse15"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            Incluye desde el día que te registraste hasta el mismo día del mes
            siguiente. Si te registraste a un Plan el 3 de Enero, la facturación
            mensual sería del 3 de Enero al 3 de Febrero del mes siguiente. Si
            escogiste tu Plan el 28 de Febrero, la facturación mensual sería del
            28 de Febrero al 28 de Marzo del mes siguiente etc., etc.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse16"
            aria-expanded="false"
            aria-controls="collapse16"
          >
            16. ¿Qué pasa cuando cambio de Plan?🤔
          </button>
        </h2>
        <div
          id="collapse16"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            Cuando actualizas tu Plan de suscripción tu facturación mensual
            cambia y empieza el día en que escogiste tu Nuevo Plan de
            suscripción hasta el mismo día del mes siguiente. Ejemplo: si empece
            con un plan inicial Espíritu el 3 de Enero, mi facturación
            terminaría el 3 de Febrero del mes siguiente. Si el 15 de Enero
            decido cambiar del Plan Espíritu a Alma; mi nueva facturación ya no
            termina el 3 de Febrero sino el 15 de Febrero del mes siguiente con
            mi Nuevo Plan Alma. Te cambiaría el periodo de facturación. Y el
            plan anterior Espíritu sería cancelado y automáticamente el crédito
            restante de tu Plan Espíritu pasaría a ser usado como descuento para
            tu nueva facturación mensual en Alma.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse17"
            aria-expanded="false"
            aria-controls="collapse17"
          >
            17. ¿Por qué veo el mensaje "nombre de usuario o email ya está
            registrado" al registrarme en la página?😓
          </button>
        </h2>
        <div
          id="collapse17"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            Primero, el email que usaste en el registro de la página ya está
            registrado por algún usuario o por ti mismo. Si ya te registraste
            debes ir a iniciar sesión y usar tu nuevo email y contraseña. Si
            olvidaste tu contraseña debes resetearla yendo a esa misma sección
            en Ayuda. Segundo, el nombre de usuario que usaste ya lo tiene otro
            usuario. Debes usar uno diferente para registrarte.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse18"
            aria-expanded="false"
            aria-controls="collapse18"
          >
            18. ¿Cómo puedo ver el contenido de la página?🙄
          </button>
        </h2>
        <div
          id="collapse18"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            Debes registrarte en la página usando un nuevo nombre de usuario,
            email y contraseña. Después debes iniciar sesión usando tu email y
            contraseña que usaste en tu registro. Por último, debes escoger uno
            de los Planes Personalidad, Alma o Espíritu y estás dentro.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse19"
            aria-expanded="false"
            aria-controls="collapse19"
          >
            19. ¿Cómo puedo dar mi opinión sobre algún contenido de la página o
            preguntar algo que no está en Ayuda?🤔
          </button>
        </h2>
        <div
          id="collapse19"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            Nos puedes mandar un email o dejar tu mensaje a través de
            <a href="https://t.me/VisionesLaFlorBlanca">Telegram</a>
            preferiblemente y <a href="https://wa.me/447934773667">WhatsApp</a>.
            Para opinar sobre los Contenidos Sorpresa de los planes Alma y
            Espíritu los links para opinar están en cada episodio de audio
            pinchando en "more info". Otra opción es dejarnos una reseña en
            <a
              href="https://search.google.com/local/writereview?placeid=ChIJk0NdUGecR2YRCbWFFw6jCfo"
              >Google</a
            >; no te preocupes podemos manejar las críticas.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse20"
            aria-expanded="false"
            aria-controls="collapse20"
          >
            20. ¿Por qué no recibo descuentos, ofertas, mis respuestas de Tarot
            o ningún tipo de comunicación?😞
          </button>
        </h2>
        <div
          id="collapse20"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            Posiblemente hayas cometido un error y te hayas registrado con un
            email que no existe, falso o que no corresponde a nadie. En este
            caso no podrás recibir ningún tipo de comunicación importante por
            parte de nosotros o de tus compras.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse21"
            aria-expanded="false"
            aria-controls="collapse21"
          >
            21. ¿Cada cuanto tiempo recibiré emails o notificaciones?😒
          </button>
        </h2>
        <div
          id="collapse21"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            Lo menos posible y sólo si es estrictamente necesario. No
            molestaremos si no es para ofrecerte alguna ayuda. Recibirás emails
            una vez al mes si estás en el plan Alma o Espíritu y usas tu
            servicio de Tarot. Utilizaremos tu email de registro para
            responderte de una manera privada. También te notificaremos
            ocasionalmente si tenemos algún descuento que ofrecerte (y no serán
            muchos). Y si nos contactas por alguna razón educadamente te
            responderemos. No vas a sentir que existimos, incluso nos echarás de
            menos.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse22"
            aria-expanded="false"
            aria-controls="collapse22"
          >
            22. ¿Cómo funciona la Bonificación o Bonus?😃
          </button>
        </h2>
        <div
          id="collapse22"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            Si el compartir es tu don serás recompensado por tu dedicación
            obteniendo una de las tres opciones: una pregunta de Tarot gratuita,
            acceso a un Directo gratuito o acceso a un episodio gratuito de tu
            interés de los disponibles en la
            <a href="https://laflorblanca.com/products">Tienda</a> por cada
            miembro que se suscriba por tu parte a los Planes de Alma o
            Espíritu.
            <br />
            Si consigues <span class="fw-bold">un</span> miembro para el plan
            Espíritu la bonificación o bonus es libre albedrío. Puedes escoger
            una opción cualquiera de entre las tres opciones gratuitas: una
            Pregunta de Tarot, acceso a un Directo o acceso a un episodio de tu
            interés en la
            <a href="https://laflorblanca.com/products">Tienda</a>. Hay trailers
            de los episodios en
            <a href="https://thechicnoir.com/price-list">Lista de Podcast</a>.
            <br />
            Si consigues <span class="fw-bold">un</span> miembro para el plan
            Alma la bonificación o el bonus sería: una pregunta de Tarot
            gratuita o acceso a un episodio gratuito de tu interés en la
            <a href="https://laflorblanca.com/products">Tienda</a>. Hay trailers
            de los episodios en
            <a href="https://thechicnoir.com/price-list">Lista de Podcast</a>.
            <br />

            Si consigues <span class="fw-bold">tres</span> miembros para el Plan
            Espíritu, tu bonificación sería acceso a un episodio gratuito de tu
            interés, más una pregunta de Tarot gratuita, más acceso a un Directo
            (si ya tienes acceso al directo se te puede canjear por dos
            episodios gratuitos de tu interés de la
            <a href="https://laflorblanca.com/products">Tienda</a>; que harían
            un total de tres episodios gratuitos más una pregunta de Tarot
            gratuita de bonificación o bonus). Hay trailers de los episodios en
            <a href="https://thechicnoir.com/price-list">Lista de Podcast</a>.
            <br />
            Si consigues <span class="fw-bold">tres</span> miembros para el Plan
            Alma tu bonificación o bonus lo puedes canjear por acceso a una
            session en Directo gratuita.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse23"
            aria-expanded="false"
            aria-controls="collapse23"
          >
            23. ¿Cómo compruebo o demuestro que conseguí un suscritor o
            suscritores?🧐
          </button>
        </h2>
        <div
          id="collapse23"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            Enviándonos el email de quién o quiénes se suscribieron por tu parte
            y la bonificación o bonus que deseas obtener por tu dedicación.
            <br />
            Necesitarás que el nuevo miembro/s te notifiquen que email usaron
            para su nueva suscripción y en qué Plan se suscribieron Alma o
            Espíritu.
            <br />
            Una vez comprobado te confirmaremos tu bonificación y podrás darle
            uso cuando corresponda.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse24"
            aria-expanded="false"
            aria-controls="collapse24"
          >
            24. ¿Cualquiera puede participar en los bonus o bonificaciones?🤗
          </button>
        </h2>
        <div
          id="collapse24"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            Sí. Independientemente del plan en el que estés. Todos los que
            tengan un Plan, el que sea, pueden recibir bonificaciones.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse25"
            aria-expanded="false"
            aria-controls="collapse25"
          >
            25. ¿A qué nos referimos con las preguntas de Emociones y
            Sentimientos?🥰
          </button>
        </h2>
        <div
          id="collapse25"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            No nos referimos a saber sobre vuestra vida sentimental y/o amorosa.
            No nos dedicamos a eso. Nos referimos a cualquier emoción o
            sentimiento que sientas en tu ser que te impida ser tu mismo, que te
            bloquee, que te esté dificultando tu día a día, la convivencia, el
            relacionarte con otros etc., no a las emociones o sentimientos que
            se tienen hacia otra persona o de otros hacia ti.
            <br />
            Pero sí nos referimos a todo lo que como resultado de esa relación
            pueda hacerte sentir en ti. No estamos interesados en las relaciones
            amorosas y sentimental de nadie; pero podemos ampliar acoger a cómo
            <span class="fw-bold">Tú</span> te sientes como resultado de ella.
            <br />
            Los sentimientos y emociones de las relaciones amorosas no van con
            la temática o línea de nuestro contenido y
            <span class="fw-bold"> NO responderemos a esas preguntas</span>. El
            Tarot es mejor opción para ese tipo de preguntas más privadas,
            personales e íntimas.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse26"
            aria-expanded="false"
            aria-controls="collapse26"
          >
            26. ¿Por qué cuando voy al checkout de la Tienda mi compra es tan
            cara?🤑
          </button>
        </h2>
        <div
          id="collapse26"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            Asegúrate que escoges el correcto método de envío referente a tu
            pedido una vez que estés en el checkout con Stripe. Si es un
            producto electrónico debes escoger la opción de envío
            <span class="fw-bold">Gratis o Free</span>.
            <br />
            Si tu pedido lleva o incluye productos físicos debes escoger el
            método de envío adecuado a donde quieras que sea entregada tu
            compra: UK, Europa, el Resto del Mundo o el Resto del Mundo
            Rastreado y Firmado. Esta última es la opción que sale por defecto y
            <u> debes escoger la opción adecuada</u> para la entrega de tu
            pedido.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse27"
            aria-expanded="false"
            aria-controls="collapse27"
          >
            27. ¿Por qué no veo en el checkout el color específico, la talla
            específica o el capítulo específico que escogí durante mi compra en
            la Tienda?😳
          </button>
        </h2>
        <div
          id="collapse27"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            No hay nada de lo que preocuparse, recibimos exactamente lo que has
            escogido. Asegúrate de escoger bien mientras estás en el carrito de
            la compra qué color de prenda y talla necesitas y qué capítulo
            quieres comprar porque no te aparecerá durante el checkout con
            Stripe; sólo te aparecerá mientras estés dentro del carrito en la
            Tienda con nosotros. Te recomendamos hacer una captura de pantalla y
            te lo reconfirmaremos por email. Si hay algún error háznoslo saber
            cuanto antes, previo a que procesemos tu pedido.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse28"
            aria-expanded="false"
            aria-controls="collapse28"
          >
            28. Olvidé la contraseña de mi cuenta 😱
          </button>
        </h2>
        <div
          id="collapse28"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            Pincha el siguiente
            <a href="{{url_for('auth.reset_password')}}">enlace</a> para
            resetear tu contraseña. Una vez que insertes el email utilizado para
            el registro en nuestra página te enviaremos un código a dicho email.
            a continuación serás redireccionado/a a una página en la que debes
            de insertar el código. Recomendamos copiar y pegar para asegurarte
            de que el código coincida. una vez que el código introducido es
            comprobado tendrás la opción de elegir una contraseña nueva.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header helpTitle">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse29"
            aria-expanded="false"
            aria-controls="collapse29"
          >
            29. Quiero borrar mi cuenta 🤬
          </button>
        </h2>
        <div
          id="collapse29"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionHelp"
        >
          <div class="accordion-body">
            Para eliminar tu cuenta asegúrate de que has cancelado tu
            suscripción. Una vez cancelada podrás ver la fecha de cancelación en
            el portal del cliente y proceder a la eliminación de tu cuenta
            después de dicha fecha.
            <br />
            Pincha en el enlace para borrar tu cuenta
            <br />
            <a href="{{url_for('auth.delete_account')}}">Borrar mi cuenta</a>
            <br />
            Recuerda que no puedes acceder a ningún contenido sin ser miembro
            <span class="fw-bold">una vez que borraste tu cuenta.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
