{% extends 'base.html' %} {% block header %} {% block title %}PERSONALIDAD {%
endblock %} {% endblock %} {% block content %}

<div class="container">
  <div class="text-center h3 mb-4">
    Estos son ejemplos de preguntas generalizadas y sugerencias de temáticas
    generalizadas por parte de los oyentes
  </div>
  <div class="row text-center align-items-end mb-3">
    <div class="col-md-6 mb-3">
      <p class="h3 mb-2">El Mirto o Arrayán y sus usos para el amor</p>
      <div class="ratio ratio-16x9">
        <iframe
          class="rounded-3 embed-responsive-item border border-2 border-light-subtle"
          src="https://www.youtube.com/embed/dKXH2Tdttkg"
          height="100%"
          width="100%"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <p class="h3 mb-2">Los Cuatro Elementos 🔥🌬🌊⛰ y sus Colores🎨</p>
      <div class="ratio ratio-16x9">
        <iframe
          class="rounded-3 embed-responsive-item border border-2 border-light-subtle"
          src="https://www.youtube.com/embed/7Pi6W3Xnv5U"
          height="100%"
          width="100%"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
  <div class="row text-center align-items-end mb-3">
    <div class="col-md-6 mb-3">
      <p class="h3 mb-2">Triada del Fuego🔥: Aries, Leo y Sagitario</p>
      <div class="ratio ratio-16x9">
        <iframe
          class="rounded-3 embed-responsive-item border border-2 border-light-subtle"
          src="https://www.youtube.com/embed/RqHO0WUlK2Y"
          height="100%"
          width="100%"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <p class="h3 mb-2">Triada de la Tierra🌋: Tauro, Virgo y Capricornio</p>

      <div class="ratio ratio-16x9">
        <iframe
          class="rounded-3 embed-responsive-item border border-2 border-light-subtle"
          src="https://www.youtube.com/embed/0b8onmHCsY4"
          height="100%"
          width="100%"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
  <div class="row text-center align-items-end mb-3">
    <div class="col-md-6 mb-3">
      <p class="h3 mb-2">Triada del Aire🌬: Géminis, Libra y Acuario</p>

      <div class="ratio ratio-16x9">
        <iframe
          class="rounded-3 embed-responsive-item border border-2 border-light-subtle"
          src="https://www.youtube.com/embed/4-C-0JsUt1I"
          height="100%"
          width="100%"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <p class="h3 mb-2">Triada del Agua🌊: Cáncer, Escorpio y Piscis</p>

      <div class="ratio ratio-16x9">
        <iframe
          class="rounded-3 embed-responsive-item border border-2 border-light-subtle"
          src="https://www.youtube.com/embed/XTup4T4vVRw"
          height="100%"
          width="100%"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
  <div class="row text-center align-items-end mb-3">
    <div class="col-md-6 mb-3">
      <p class="h3 mb-2">Narcisismo desde el Astral</p>
      <div class="ratio ratio-16x9">
        <iframe
          class="rounded-3 embed-responsive-item border border-2 border-light-subtle"
          src="https://www.youtube.com/embed/re4mncuNTD4"
          height="100%"
          width="100%"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <p class="h3 mb-2">Falsos Lectores de Energía y Guía para Detectarlos</p>
      <div class="ratio ratio-16x9">
        <iframe
          class="rounded-3 embed-responsive-item border border-2 border-light-subtle"
          src="https://www.youtube.com/embed/_jLz5sVcC2Y"
          height="100%"
          width="100%"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>

  <div class="row align-items-center mb-4">
    <div class="col-md-6 mx-auto text-center">
      <p class="h3 mb-3 title">Respuestas de audio</p>

      <p class="h6 mb-3 text-center text-muted">
        Si quieres ver la pregunta más detallada y completa del episodio dale a
        "more info"
      </p>
      <div class="ratio ratio-16x9">
        <iframe
          class="person rounded-3 embed-responsive-item border border-2"
          width="100%"
          height="180"
          frameborder="no"
          scrolling="yes"
          seamless
          src="https://share.transistor.fm/e/respuestas-personalidad/playlist"
        ></iframe>
      </div>
    </div>
  </div>
  <div class="row text-center mb-4">
    <p class="h2 mb-3 title">Respuestas de Blog</p>
  </div>
  {% for post in posts %}
  <article class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 text-center mx-auto">
        {% if session['role'] == 'admin' %}
        <div class="m-2 d-flex flex-start gap-4">
          <a
            class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
            href="{{ url_for('answers.delete', id=post[0]) }}"
            onclick="return confirm('Confirma que quieres borrar este link');"
            >Borrar</a
          >
          <a
            class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
            href="{{ url_for('answers.update', id=post[0]) }}"
            >Editar</a
          >
        </div>
        {% endif %}
        <div class="rating text-center align-items-center mx-auto">
          <p class="h5 fw-bold title me-3">{{ post[3] }}</p>
        </div>

        <div class="text-info mb-3">
          La Flor Blanca el {{ post[2].strftime('%d-%m-%Y') }}
        </div>

        <p class="body text-start">{{ post[4] }}</p>
        <form
          method="POST"
          action="{{ url_for('answers.rating',post_id=post[0])}}"
          id="form-{{ loop.index }}"
          class="my-form"
        >
          <p class="h6 mb-2 title ratePost" role="button" tabindex="0">
            Valora esta respuesta {% for score in scores %}{% if post[0] ==
            score['scorePost'] %}
            <span class="title ms-4">
              {{(score['scoreTotal']/score['scoreCount'])|round(2)
              }}/{{score['scoreCount']}}
            </span>

            {% endif %} {% endfor %}
          </p>
          <div class="d-none">
            <div class="rating d-flex justify-content-center mb-2">
              <div>
                <input
                  class="rating"
                  type="radio"
                  name="rating"
                  value="1"
                  id="rating-1-{{post[0]}}"
                  hidden
                />
                <label for="rating-1-{{post[0]}}"
                  ><i class="bi bi-sun"></i
                ></label>

                <input
                  class="rating"
                  type="radio"
                  name="rating"
                  value="2"
                  id="rating-2-{{post[0]}}"
                  hidden
                />
                <label for="rating-2-{{post[0]}}"
                  ><i class="bi bi-sun"></i
                ></label>

                <input
                  class="rating"
                  type="radio"
                  name="rating"
                  value="3"
                  id="rating-3-{{post[0]}}"
                  hidden
                />
                <label for="rating-3-{{post[0]}}"
                  ><i class="bi bi-sun"></i
                ></label>

                <input
                  class="ratingResul"
                  type="number"
                  name="result"
                  id="result-{{post[0]}}"
                  value="1"
                  data-post-id="{{post[0]}}"
                  hidden
                />
                <label for="result-{{post[0]}}" hidden></label>
              </div>
            </div>
            <button type="submit" class="btn submitRating mb-3">Aceptar</button>
          </div>
        </form>
      </div>
    </div>
  </article>

  {% if not loop.last %}
  <hr class="title border-5" />
  {% endif %} {% endfor %}
</div>

{% endblock %}
