{% extends 'base.html' %} {% block header %} {% block title %}PERSONALIDAD {%
endblock %} {% endblock %} {% block content %}

<div class="container">
  <div class="text-center h3">
    Estos son ejemplos de preguntas generalizadas y sugerencias de temáticas
    generalizadas por parte de los oyentes
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <div class="ratio ratio-16x9">
        <iframe
          class="rounded-3 embed-responsive-item border border-2 border-light-subtle"
          src="https://www.youtube.com/embed/dKXH2Tdttkg"
          height="100%"
          width="100%"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <div class="ratio ratio-16x9">
        <iframe
          class="rounded-3 embed-responsive-item border border-2 border-light-subtle"
          src="https://www.youtube.com/embed/7Pi6W3Xnv5U"
          height="100%"
          width="100%"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <div class="ratio ratio-16x9">
        <iframe
          class="rounded-3 embed-responsive-item border border-2 border-light-subtle"
          src="https://www.youtube.com/embed/RqHO0WUlK2Y"
          height="100%"
          width="100%"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <div class="ratio ratio-16x9">
        <iframe
          class="rounded-3 embed-responsive-item border border-2 border-light-subtle"
          src="https://www.youtube.com/embed/0b8onmHCsY4"
          height="100%"
          width="100%"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <div class="ratio ratio-16x9">
        <iframe
          class="rounded-3 embed-responsive-item border border-2 border-light-subtle"
          src="https://www.youtube.com/embed/4-C-0JsUt1I"
          height="100%"
          width="100%"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <div class="ratio ratio-16x9">
        <iframe
          class="rounded-3 embed-responsive-item border border-2 border-light-subtle"
          src="https://www.youtube.com/embed/XTup4T4vVRw"
          height="100%"
          width="100%"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <div class="ratio ratio-16x9">
        <iframe
          class="rounded-3 embed-responsive-item border border-2 border-light-subtle"
          src="https://www.youtube.com/embed/re4mncuNTD4"
          height="100%"
          width="100%"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <div class="ratio ratio-16x9">
        <iframe
          class="rounded-3 embed-responsive-item border border-2 border-light-subtle"
          src="https://www.youtube.com/embed/_jLz5sVcC2Y"
          height="100%"
          width="100%"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>

{% endblock %}
