{% extends 'base.html' %} {% block header %}
<h1 class="text-center">{% block title %}New Post{% endblock %}</h1>
{% endblock %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto mb-3">
      <form method="post">
        <label for="title">Title</label>
        <input
          name="title"
          id="title"
          value="{{ request.form['title'] }}"
          required
          class="form-control mb-3"
        />
        <label for="body">Body</label>
        <textarea
          name="body"
          id="body"
          class="form-control mb-3"
          rows="14"
          cols="50"
        >
              {{ request.form['body'] }}</textarea
        >
        <div class="text-center">
          <input
            type="submit"
            value="Save"
            class="btn btn-lg rounded-2 btn-success"
          />
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
