{% extends 'base.html' %} {% block header %} {% block title %}Admin Panel {%
endblock %} {% endblock %} {% block content %}
<div class="container-fluid">
  <div class="row mh-100 justify-content-between align-items-center">
    <div class="col-md-4 rounded-3 mx-auto mb-3">
      {% include 'admin/panel.html' %}
    </div>

    <div
      class="col-md-8 text-center border border-3 rounded-3 mb-2 vh-100 overflow-auto"
    >
      {% block view %} {% endblock %}
    </div>
  </div>
</div>

{% endblock %}
